---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
        <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>Tim Jensen</title>
    </head>
    <body
        class="bg-black text-gray-300 font-sans"
        style="background-color: #111;"
    >
        <slot />
    </body>
</html>
