---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link
            rel="icon"
            href="/favicon-16x16.png"
            type="image/png"
            sizes="16x16"
        />
        <link
            rel="icon"
            href="/favicon-32x32.png"
            type="image/png"
            sizes="32x32"
        />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <link
            rel="apple-touch-icon"
            href="/apple-touch-icon.png"
            sizes="180x180"
        />

        <title>Tim Jensen</title>
    </head>
    <body
        class="bg-black text-gray-300 font-sans"
        style="background-color: #111;"
    >
        <slot />
    </body>
</html>
